<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "net.5point6.puttz"
        version     = "1.0.3" >

    <!-- versionCode is optional and Android only -->


    <name>Puttz!</name>
    <icon src="icon.png"  />
    <icon src="icon.png" gap:role="default" />
    <icon src="icon.png" gap:platform="android" gap:qualifier="ldpi" />
    <icon src="icon.png" gap:platform="android" gap:qualifier="mdpi" />
    <icon src="icon.png" gap:platform="android" gap:qualifier="hdpi" />
    <icon src="icon.png" gap:platform="android" gap:qualifier="xhdpi" />
    <icon src="icon.png" gap:platform="android" gap:qualifier="xxhdpi" />
    <icon src="icon.png" gap:platform="android" gap:qualifier="fr-xxhdpi" />
    <description>
        Disc golf putting trainer scorecard
    </description>

    <author href="http://www.croydondiscgolf.com" email="james@5point6.net">
        James Buchanan
    </author>

</widget>
